.navbar {
  //padding: 0 35px;
  //font-size: 0.8em;
  //color: white;

  .logo {
    background-repeat: no-repeat;
    background-position: top left;
    //width: 113px;
    height: 50px;
    //margin-top: 6px;
    //margin-left: 5%;
    margin-right: 0px;
  }
}
